body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: beige;
    font-family: "Radio Canada Big", sans-serif;
}

button {
    padding: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    color: blue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 400px;
    background-color: lightblue;
}

.result {
    color: darkgreen;
}

.outPara {
    margin: 10px;
}

.outputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    color: white;
    border-radius: 20px;
    height: 40px;
    max-width: 310px;
    min-width: 0px;
    margin-bottom: 20px;
}

.optionsContainer {
    margin-bottom: 20px;
}

.resultContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 310px;
}